@use "../variables" as *;

// set the post grid
.-grid-col-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  align-items: stretch;
}


@media (max-width: 480px) {
  .-grid-col-3 {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media (min-width: 500px) and (max-width: 992px) {
  .-grid-col-3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
  }
}

@media (min-width: 500px) and (max-width: 768px) {
  .-grid-col-3 {
    column-gap: 30px;
  }
}

@media (min-width: 768px) and (min-width: 992px) {
  .-grid-col-3 {
    column-gap: 40px;
  }
}


.-d-flex {
  display: flex;
}
.-flex-between{justify-content: space-between;}
.-flex-around{justify-content: space-around;}
.-flex-evenly{justify-content: space-evenly;}
.-d-none{display: none;}
.-d-block{display: block;}